day 2 start just enjoy

In [1]:
a = 10

In [2]:
a = 'c'
type(a)

str

In [3]:
int()

0

how to show output using print() function

In [4]:
print("hello world")

hello world

In [5]:
print(123)

123

In [6]:
age  = 32 
print ("my age is :",age)

my age is : 32

In [7]:
print ("my age is :{age}")

my age is :{age}

In [8]:
#f string 
print (f"my age is :{age}")

my age is :32

In [9]:
## format()
name = "pawan"
age = 20
print (" my name is {} and age is {}".format(name ,age))

 my name is pawan and age is 20

In [10]:
print (" my name is {firstname} and age is {firstage}".format(firstage =age,firstname= name))

 my name is pawan and age is 20

In [14]:
name = " Pawan joshi"
age = 20 
degree = "BE"
print("my age is {firstage} and i have completed: my degree of {firstdegree} with the name of {firstname}".format(firstname=name,firstage=age,firstdegree=degree))

my age is 20 and i have completed: my degree of BE with the name of  Pawan joshi

In [15]:
#control flow
##decision making statement
"""if
if else
if elif else
nested if
single statement suites"""

'if\nif else\nif elif else\nnested if\nsingle statement suites'

In [17]:
# if statement 
age = 18 
if age >= 18:
    print("you are eligible to vote ")

you are eligible to vote

In [ ]:
age = 18 
if age < 18:
    print("you are not eligible to vote ")

In [18]:
input()

 pawan joshi

'pawan joshi '

In [19]:
#input from user
name =input("enter the name")

enter the name pawan joshi

In [20]:
age = input("enter the age ")

enter the age  32

In [21]:
type(age)

str

In [22]:
age = int(input("enter the age "))

enter the age  32

In [23]:
type(age)

int

#job given only  to young blood age less than 45 and greater than 45

In [26]:
age = int (input("enter the age "))
if age >=18 and age <=45:
    print("you are the young blood")

enter the age  46

In [28]:
age = int (input("enter the age "))
if age >=18 and age <=45:
    print("you are the young blood")
else :
    print("thanks you your we will let you know")

enter the age  456

thanks you your we will lwt you know

# discount on product using if , else ,elif and nested loop

In [31]:
productprice=int(input("enter the product price"))
if productprice>1000:
    print("the price of thr product is {}".format(int(productprice*0.80)))
else:
    print("The price of the product is {}".format(int(productprice*0.70)))

enter the product price 3000

the price of thr product is 2400

In [36]:
productprice=int(input("enter the product price"))
if productprice >3000:
    if productprice == 4000:
        print("congratulation you get a goa trip")
    print("the price of thr product is {}".format(int(productprice*0.80)))
elif productprice >=2000 and productprice <=3000:
    print("the price of thr product is {}".format(int(productprice*0.70)))
elif productprice >=100 and productprice<2000:
    print("The price of the product is {}".format(int(productprice*0.60)))
else:
    print("drink tea")

enter the product price 4000

congratulation you get a goa trip
the price of thr product is 3200

In [37]:
#comparision operator
False == False

True

In [39]:
# single statement suites
val = int(input("enter the number"))
if (val <=999):print("value is less than 1000")
else :print("value is greater than 999")

enter the number 1234

value is greater than 999

## loops statement
WHILE,
FOR ,
NESTED,
LOOP CONTROL(BREAK,CONTINUE,PASS)

In [3]:
#WHILE LOOP
## while else use when while condition is not true .
joining_age=29
while(joining_age<=60):
    joining_age = joining_age + 1
    print(joining_age)
else:
    print("its time for retirement")

its time for retirement

In [20]:
#atm  machine totql amount 1000 example
amount = 1000
print ("total amount",amount)
while amount != 0:  
    withdrawal_amount = int(input("enter the withdrawal amount"))                        
    amount = amount - withdrawal_amount
    if withdrawal_amount == 0:
        break
    if amount < 0 :
        print ("add money in the atm")
        break
    print ("total amount",amount)
print ("thank you  for using  atm")

total amount 1000

enter the withdrawal amount 0

thank you  for using  atm

In [10]:
# for loop 
lst = [ "krish",1,2,3,4,"apple","banana"]
type(lst)

list

In [11]:
for x in lst:
    print(x)

krish
1
2
3
4
apple
banana

In [21]:
fruits_lists = ["Mango", "Cherry", "Apple", "Papaya", "Banana"]

In [27]:
for a in fruits_lists:
    print(a)
    if a == "Cherry":
        print (f"found {a} in fruits_list lenght is :",len(a))

Mango
Cherry
found Cherry in fruits_list lenght is : 6
Apple
Papaya
Banana

In [29]:
#for in a string 
fruit = 'mango'
for x in fruit:
    print (x);
print(fruit [2])

m
a
n
g
o
n

In [31]:
##nested loop 
for i in range(1,16,2):
    print(i)

1
3
5
7
9
11
13
15

In [70]:
#PATTERN1
n = 7 
for i in range (0,n):
    for j in range (0,i +1):
        print("*",end = "")
    print("\r")

*
**
***
****
*****
******
*******

In [55]:
#PATTERN2 
n = 4
for i in range (1,n+1):
    for j in range (n-i):
        print (" ",end= "")
    print("*"*((2*i)-1))

   *
  ***
 *****
*******

In [72]:
#loop control
#break
for a in fruits_lists:
    if a == "Cherry":
        print (f"found {a} in fruits_list lenght is :",len(a))
        break
    print(a)

Mango
found Cherry in fruits_list lenght is : 6

In [74]:
#pass
for a in fruits_lists:
    if a == "Cherry":
        print (f"found {a} in fruits_list lenght is :",len(a))
        pass
        print(a)
    print(a)

Mango
found Cherry in fruits_list lenght is : 6
Cherry
Cherry
Apple
Papaya
Banana

In [75]:
b  = 8
if b < 9 :
    pass

In [76]:
#continue
for a in fruits_lists:
    if a == "Cherry":
        print (f"found {a} in fruits_list lenght is :",len(a))
        continue
        print(a)
    print(a)

Mango
found Cherry in fruits_list lenght is : 6
Apple
Papaya
Banana